<div>
    <div id="about-me-box" class="common-box">
        <div class="about-me">
            <div class="about-me-init"></div>
            <div class="about-me-txt">About Me !!</div>
            <div class="about-me-birth-icon">
                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 100 100" viewBox="0 0 100 100"
                    class="about-me-birth-icon-style">
                    <path d="M47.4,59L30.5,79.2c-1.6-3-2.5-6.5-2.5-10.2V45c0-2.7,0.5-5.2,1.4-7.6L47.4,59z M69.8,35.3c-1.1,5.5-6,9.7-11.8,9.7H42
	c-0.4,0-0.7,0-1.1-0.1l28.6,34.3C71.1,76.2,72,72.7,72,69V45C72,41.5,71.2,38.3,69.8,35.3z M32.8,82.7c4,5,10.2,8.3,17.2,8.3
	s13.1-3.2,17.2-8.3L50,62.1L32.8,82.7z M34,33v-8c0-8.8,7.2-16,16-16s16,7.2,16,16v8c0,4.4-3.6,8-8,8h-1.7c0.4-0.9,0.7-1.9,0.7-3
	c0-3.9-3.1-7-7-7s-7,3.1-7,7c0,1.1,0.2,2.1,0.7,3H42C37.6,41,34,37.4,34,33z M56,27c0,1.1,0.9,2,2,2s2-0.9,2-2v-2c0-1.1-0.9-2-2-2
	s-2,0.9-2,2V27z M40,27c0,1.1,0.9,2,2,2s2-0.9,2-2v-2c0-1.1-0.9-2-2-2s-2,0.9-2,2V27z M47,38c0,1.6,1.3,3,3,3s3-1.4,3-3
	c0-1.7-1.3-3-3-3S47,36.3,47,38z"></path>
                </svg>
            </div>
            <div class="about-me-birth-date">02 / 09 / 1990</div>
            <div class="about-me-from-icon">
                <svg class="about-me-from-icon-style" height="512" viewBox="0 0 512 512" width="512"
                    xmlns="http://www.w3.org/2000/svg">
                    <g id="_01-home" data-name="01-home">
                        <g id="glyph">
                            <path
                                d="m256 4c-108.075 0-196 87.925-196 196 0 52.5 31.807 119.92 94.537 200.378a1065.816 1065.816 0 0 0 93.169 104.294 12 12 0 0 0 16.588 0 1065.816 1065.816 0 0 0 93.169-104.294c62.73-80.458 94.537-147.878 94.537-200.378 0-108.075-87.925-196-196-196zm0 336c-77.2 0-140-62.8-140-140s62.8-140 140-140 140 62.8 140 140-62.8 140-140 140z" />
                            <path
                                d="m352.072 183.121-88-80a12 12 0 0 0 -16.144 0l-88 80a12.006 12.006 0 0 0 -2.23 15.039 12.331 12.331 0 0 0 10.66 5.84h11.642v76a12 12 0 0 0 12 12h28a12 12 0 0 0 12-12v-44a12 12 0 0 1 12-12h24a12 12 0 0 1 12 12v44a12 12 0 0 0 12 12h28a12 12 0 0 0 12-12v-76h11.642a12.331 12.331 0 0 0 10.66-5.84 12.006 12.006 0 0 0 -2.23-15.039z" />
                        </g>
                    </g>
                </svg>
            </div>
            <div class="about-me-from">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 23.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32"
                    class="about-me-from-statue"
                    style="enable-background:new 0 0 32 32; position: absolute; width: 76px; left: 80px; top: 80px;"
                    xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: #E0E0E2;
                        }

                        .st1 {
                            fill: #D9D8DA;
                        }

                        .st2 {
                            fill: #8B8891;
                        }

                        .st3 {
                            fill: #AFAEB3;
                        }

                        .st4 {
                            opacity: 0.42;
                            fill: #AFAEB3;
                            enable-background: new;
                        }

                        .st5 {
                            fill: #58565D;
                        }

                        .st6 {
                            fill: #3C3B41;
                        }
                    </style>
                    <title>Statue of unity</title>
                    <path class="st0" d="M9.7,13.7l-0.4,1.2c-0.1,0.5,0.1,1,0.5,1.2l1.1,0.6l0,0l1.6,0.1c0,0,0.3-2.6,0.3-2.7c-0.5-0.4-1-0.7-1.5-1
	L9.7,13.7z" />
                    <path class="st1" d="M11.9,16.7L11.9,16.7l-1.1-0.6c-0.4-0.2-0.6-0.7-0.5-1.2l0.4-1.2l1-0.4c-0.2-0.1-0.4-0.2-0.4-0.2l-1.6,0.7
	l-0.4,1.2c-0.1,0.5,0.1,1,0.5,1.2l1.1,0.6l0,0l1.6,0.1l0,0L11.9,16.7z" />
                    <path class="st0"
                        d="M21.1,16.7l1.1-0.6c0.4-0.2,0.6-0.7,0.5-1.2l-0.4-1.2L19.8,13l-1.1,1.1l0.7,1.8L21.1,16.7z" />
                    <path class="st2" d="M23.2,11.7c0,0.1,0,0.2-0.1,0.2c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0.1c0,0,0,0-0.1,0.1
	c-0.1,0.1-0.2,0.1-0.3,0.1h-0.2l0.3,0.8c0.1,0.3-0.1,0.7-0.5,0.7h-1.7v0l0.4,2.5l0.1,0.5v0l0.1,0.5l0.2,1.4c0.1,0.3-0.2,0.6-0.5,0.6
	l-0.8,0h-0.5l0.1,0.5l0.1,0.7c0,0.1,0,0.1,0,0.2l-0.2,0.7l-0.1,0.5l0.4,0.2l0,0c0,0,0.1,0,0.1,0.1c0.1,0.1,0.2,0.3,0.1,0.5l-0.3,0.7
	L19.5,24l0.3,0.3c0.2,0.2,0.2,0.5,0.1,0.7l-0.6,0.7l0.1,0.5c0,0.1,0,0.1,0,0.2c0,0.1-0.1,0.2-0.1,0.2l-0.7,0.7l0.9,2.2H17l0-0.2
	l0-0.3v0l-0.2-2.1l0-0.6l-0.1-0.5L16,21.3l-0.7,4.5l-0.1,0.5l0,0.5v0l0,0.9L15,29l0,0.5h-2.5l0.9-2.2l-0.7-0.7h0v0
	c-0.1-0.1-0.1-0.2-0.1-0.2c0-0.1,0-0.2,0-0.2l0.1-0.5L12.1,25l0,0C12,24.9,12,24.8,12,24.7c0-0.1,0-0.2,0-0.3c0,0,0-0.1,0.1-0.1
	c0,0,0-0.1,0.1-0.1l0.3-0.3l-0.2-0.6L12,22.7c-0.1-0.2,0-0.5,0.2-0.6l0.4-0.2l-0.1-0.6l-0.1-0.7c0-0.1,0-0.1,0-0.2l0.1-0.7l0.1-0.5
	h-0.5l-0.8,0c-0.3,0-0.5-0.3-0.5-0.6l0.3-1.9v0l0.1-0.5l0,0l0.4-2.5h-0.7l0,0l-0.5,0H9.7c-0.3,0-0.6-0.3-0.5-0.6l0.3-0.9h0l0.3-1v0
	l0.5-1.5l0,0l0.1-0.3l0.2-0.7l0.8-2.5c0,0,0-0.1,0-0.1c0,0,0,0,0-0.1c0,0,0-0.1,0.1-0.1c0,0,0-0.1,0.1-0.1c0.1-0.1,0.2-0.3,0.3-0.4
	c0.2-0.2,0.5-0.4,0.8-0.5l1.2-0.4l0,0l0.2-0.1l0,0l0.5-0.2l0,0l0.8-0.5L15.1,2c0-0.1,0-0.1,0-0.2c0-0.4-0.8-0.7-0.4-0.9
	c0.5-0.3,1.1-0.4,1.7-0.3c0.3,0,0.7,0.1,1,0.3c0.4,0.2-0.4,0.6-0.5,1.1l-0.3,1.7l0,0.1c0,0.2,0.5,0.3,0.9,0.4c0,0,0,0,0,0
	c0,0,0,0,0.1,0c0.1,0,0.1,0,0.2,0c0.1,0,0.2,0,0.2,0.1l0.1,0h0l0,0l0.3,0.1l1.2,0.4c0.1,0,0.1,0,0.2,0.1c0.2,0.1,0.4,0.2,0.5,0.3
	c0,0,0.1,0.1,0.1,0.1c0.1,0.1,0.3,0.3,0.3,0.5l1.6,3.4l0.9,2C23.2,11.6,23.2,11.6,23.2,11.7z" />
                    <path class="st3" d="M19.9,24.2c0.2,0.2,0.2,0.5,0.1,0.7l-0.6,0.7l0.1,0.5c0,0.1,0,0.1,0,0.2c0,0.1-0.1,0.2-0.1,0.2l-0.7,0.7
	L18,28.2l1.5,1.4H17l1-0.5l-1.2-2.1l0-0.6l-0.1-0.5L16,21.3l-0.7,4.5l-0.1,0.5l0,0.5v0l-1,0.9l0.9,1.7h-2.5l1.4-1.1l-0.6-1.1
	l-0.7-0.7l0,0c-0.1-0.1-0.1-0.2-0.1-0.2c0-0.1,0-0.1,0-0.2l0,0l0.1-0.5L12.1,25l0,0c0-0.1-0.1-0.1-0.1-0.2c0,0,0,0,0-0.1
	c0-0.1,0-0.2,0-0.3c0,0,0-0.1,0.1-0.1c0,0,0-0.1,0.1-0.1l0.3-0.3l-0.2-0.6L12,22.7c-0.1-0.2,0-0.5,0.2-0.6l0.4-0.2l-0.1-0.6
	l-0.1-0.7c0-0.1,0-0.1,0-0.2l0.1-0.7l0.1-0.5h7.2l0.1,0.5l0.1,0.7c0,0.1,0,0.1,0,0.2l-0.1,0.7l0,0.1l-0.1,0.5v0l0.1,0l0.3,0.2h0
	c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0.1,0.1,0.2,0.3,0.1,0.5l-0.3,0.7L19.5,24L19.9,24.2z" />
                    <polygon class="st0" points="16.7,26.3 16.7,26.9 16.9,29 16.9,29 17,29.5 19.5,29.5 18.6,27.3 " />
                    <polygon class="st0" points="13.4,27.3 12.5,29.5 15,29.5 15,29 15.1,26.9 15.2,26.4 " />
                    <path class="st1"
                        d="M14.2,27.8l0.2-0.5l0.8-0.4l0-0.5l-1.6,0.8c-0.1,0.1-0.2,0.2-0.2,0.3l-0.8,2h1l0.2-0.5L14.2,27.8z" />
                    <path class="st4" d="M9.8,11.2l-0.3,1h10.3c-0.5,0-0.9-0.3-1-0.7l-0.1-0.3c-0.1-0.3-0.1-0.6-0.1-0.9v-3c0-0.4-0.1-0.8-0.3-1.1
	l-0.5-1.6l-0.3-0.4C17,4.6,16.5,4.7,16,4.7c-0.5,0-0.9-0.1-1.3-0.4L14,6.3c-0.2,0.4-0.2,0.8-0.2,1.3v1c0,0.6-0.5,1.1-1.1,1.1
	c0,0,0,0,0,0h-2.2l-0.1,0L9.8,11.2z" />
                    <path class="st2" d="M8,29.5h16c0.3,0,0.5,0.2,0.5,0.5v1c0,0.3-0.2,0.5-0.5,0.5H8c-0.3,0-0.5-0.2-0.5-0.5v-1
	C7.5,29.7,7.7,29.5,8,29.5z" />
                    <path class="st5" d="M8.5,31v-1c0-0.3,0.2-0.5,0.5-0.5H8c-0.3,0-0.5,0.2-0.5,0.5v1c0,0.3,0.2,0.5,0.5,0.5h1
	C8.7,31.5,8.5,31.3,8.5,31z" />
                    <path class="st3" d="M10.3,9.7l-0.5,1.5l-0.6,1.9c-0.1,0.3,0.1,0.6,0.5,0.7l1.7,0l0.7-4H10.3z" />
                    <path class="st2"
                        d="M10,13.7l0.8-2.5l0.5-1.5h-1l-0.5,1.5l-0.6,1.9c-0.1,0.3,0.1,0.6,0.5,0.7l1.7,0l0,0L10,13.7z" />
                    <path class="st3" d="M21.7,9.7l0.5,1.5l0.6,1.9c0.1,0.3-0.1,0.6-0.5,0.7l-1.7,0l-0.7-4H21.7z" />
                    <path class="st2" d="M16.5,5.2v7c0,0.3-0.2,0.5-0.5,0.5c0,0,0,0,0,0c-0.3,0-0.5-0.2-0.5-0.5v-7c0-0.3,0.2-0.5,0.5-0.5
	C16.3,4.7,16.5,4.9,16.5,5.2C16.5,5.2,16.5,5.2,16.5,5.2z" />
                    <path class="st3" d="M17.5,4.1l-0.1,0.1C17,4.6,16.5,4.7,16,4.7c-0.5,0-1-0.2-1.4-0.5l-0.5,0.2l0.2,0.2C14.8,5,15.4,5.2,16,5.2h0
	c0.6,0,1.2-0.2,1.7-0.7l0.1-0.1c0,0,0,0,0.1-0.1L17.5,4.1z" />
                    <path class="st5" d="M10.4,9.7h2.2c0.6,0,1.1-0.5,1.1-1.1c0,0,0,0,0,0v-1c0-0.4,0.1-0.9,0.2-1.3l0.9-2.1l-2,0.7
	c-0.7,0.2-1.3,0.8-1.5,1.5L10.4,9.7L10.4,9.7z" />
                    <path class="st6" d="M12.3,6.3c0.2-0.7,0.7-1.3,1.4-1.5l0.9-0.3l0.2-0.4l-2,0.7c-0.7,0.2-1.3,0.8-1.4,1.5l-1,3.4l0.1,0h1l-0.1,0
	L12.3,6.3z" />
                    <path class="st5" d="M20.7,6c-0.2-0.5-0.7-0.9-1.2-1.1l-2-0.8l0.7,2c0.2,0.4,0.3,0.7,0.3,1.1v3c0,0.3,0,0.6,0.1,0.9l0.1,0.3
	c0.1,0.4,0.6,0.7,1,0.7h2.9c0.3,0,0.5-0.2,0.5-0.5c0-0.1,0-0.1,0-0.2L20.7,6z" />
                    <polygon class="st2" points="12.5,21.8 12.4,21.2 13.7,20.9 " />
                    <polygon class="st2" points="12.5,24 12.2,23.4 13.8,22.8 " />
                    <path class="st2" d="M14.1,25.3l-1.5,1.1c0-0.1,0-0.1,0-0.2l0,0l0.1-0.5L14.1,25.3z" />
                    <polygon class="st2" points="19.6,21.2 19.5,21.8 18.2,20.9 " />
                    <polygon class="st2" points="19.5,24 19.8,23.4 18.2,22.8 " />
                    <path class="st2" d="M19.5,26.4l-1.5-1.1l1.4,0.4l0.1,0.5C19.5,26.2,19.5,26.3,19.5,26.4z" />
                    <path class="st0" d="M17.5,3.7c0,0.1,0,0.3,0,0.4l-0.1,0.1C17,4.6,16.5,4.7,16,4.7c-0.5,0-1-0.2-1.4-0.5l-0.5-2.4c0-0.1,0-0.1,0-0.2
	c0-0.4,0.2-0.7,0.5-0.9c0.8-0.4,1.8-0.4,2.6,0c0.4,0.2,0.6,0.6,0.5,1.1L17.5,3.7z" />
                    <path class="st1" d="M15.6,4.3l-0.5-2.4c0-0.1,0-0.1,0-0.2c0-0.4,0.2-0.7,0.5-0.9c0.3-0.1,0.5-0.2,0.8-0.2c-0.2,0-0.3-0.1-0.5-0.1
	c-0.5,0-0.9,0.1-1.3,0.3c-0.3,0.2-0.5,0.5-0.5,0.9c0,0.1,0,0.1,0,0.2l0.5,2.4C15,4.6,15.5,4.7,16,4.7c0.2,0,0.3,0,0.5-0.1
	C16.2,4.6,15.9,4.5,15.6,4.3z" />
                </svg>
                <div class="about-me-from-txt">Statue of Unity </br> India</div>
            </div>
            <div class="about-me-hobbies">
                <div class="about-me-hobbies-txt">Hobbies</div>
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" enable-background="new 0 0 64 64"
                    viewBox="0 0 64 64" style="fill: #ffffff;width: 40px;position: absolute;left: 40px;bottom: 35px;">
                    <path
                        d="M23.854 28.036l7.395-5.431v-7.777l-8.374-6.4c-3.886 1.507-7.354 3.959-10.073 7.128l3.245 10.014L23.854 28.036zM39.41 7.85c-4.81-1.466-10.007-1.466-14.818 0L32 13.513 39.41 7.85z">
                    </path>
                    <polygon points="24.793 29.21 26.09 39.252 37.91 39.252 39.207 29.21 32 23.918"></polygon>
                    <path
                        d="M57.233 30.973c-.206-5.038-1.917-9.911-4.903-13.965l-2.89 8.858L57.233 30.973zM32.751 22.606l7.396 5.431 7.808-2.458 3.261-9.994c-2.728-3.188-6.201-5.651-10.091-7.157l-8.374 6.4V22.606zM11.687 16.986c-2.993 4.044-4.71 8.918-4.92 13.967l7.793-5.099L11.687 16.986zM24.644 39.776l-1.336-10.337-7.743-2.446L6.75 32.76c.128 4.126 1.241 8.114 3.239 11.633l10.516.381L24.644 39.776zM48.435 27.002l-7.742 2.437-1.336 10.334 4.156 4.98 10.527-.409c1.988-3.516 3.092-7.494 3.211-11.565L48.435 27.002zM41.676 55.318c4.658-1.927 8.631-5.212 11.41-9.435l-9.311.362L41.676 55.318zM10.946 45.931c2.79 4.218 6.77 7.495 11.426 9.41l-2.125-9.073L10.946 45.931zM38.218 40.754H25.784l-4.119 4.976 2.399 10.247c5.148 1.711 10.867 1.691 15.923-.017l2.371-10.246L38.218 40.754z">
                    </path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 32 32"
                    style="position: absolute;left: 105px;bottom: 50px;">
                    <path fill="#fff" fill-rule="evenodd"
                        d="M 16 0 A 16 16 0 0 0 0 16 A 16 16 0 0 0 16 32 A 16 16 0 0 0 32 16 A 16 16 0 0 0 16 0 z M 16 11.25 L 16 11.253906 C 18.626804 11.253906 20.779248 13.284364 20.972656 15.851562 C 21.13735 15.788964 21.314451 15.75 21.5 15.75 C 22.32235 15.75 23 16.4276 23 17.25 L 23 19.25 C 23 20.0723 22.32235 20.75 21.5 20.75 C 20.67765 20.75 20 20.0723 20 19.25 L 20 17.751953 C 20 17.737753 19.999938 17.4549 20 17.25 C 20.000044 17.1057 20.00031 17.066884 20 16.896484 C 20 16.690284 19.998507 16.484072 19.998047 16.326172 C 19.998047 16.170572 19.994094 16.0085 19.996094 16.0625 C 19.912644 13.9421 18.1634 12.251953 16 12.251953 C 13.80716 12.251953 12.0382 13.986437 12 16.148438 C 12.0007 16.108338 12.00005 16.169844 12 16.214844 C 11.99995 16.259844 12.00004 16.321484 12 16.396484 C 11.99991 16.546584 12.00006 16.745359 12 16.943359 C 11.999954 17.093859 11.999996 17.1201 12 17.25 L 12 17.75 A 0.50004997 0.50004997 0 0 1 12 17.785156 L 12 19.25 C 12 20.0723 11.32235 20.75 10.5 20.75 C 9.67765 20.75 9 20.0723 9 19.25 L 9 17.25 C 9 16.4276 9.67765 15.75 10.5 15.75 C 10.682744 15.75 10.856927 15.788609 11.019531 15.849609 C 11.211158 13.281409 13.371764 11.25 16 11.25 z M 10.5 16.75 C 10.21435 16.75 10 16.9643 10 17.25 L 10 19.25 C 10 19.5356 10.21435 19.75 10.5 19.75 C 10.78565 19.75 11 19.5356 11 19.25 L 11 17.75 L 11 17.25 C 11 16.9643 10.78565 16.75 10.5 16.75 z M 21.5 16.75 C 21.21435 16.75 21 16.9643 21 17.25 L 21 17.751953 A 0.50004997 0.50004997 0 0 1 21 17.785156 L 21 19.25 C 21 19.5356 21.21435 19.75 21.5 19.75 C 21.78565 19.75 22 19.5356 22 19.25 L 22 17.25 C 22 16.9643 21.78565 16.75 21.5 16.75 z ">
                    </path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 25 25"
                    style="position: absolute;right: 40px;bottom: 50px;">
                    <g fill="#000" transform="translate(4.674 -1032.052)">
                        <path fill="#fff" fill-rule="evenodd"
                            d="M 12.5 0 A 12.5 12.5 0 0 0 0 12.5 A 12.5 12.5 0 0 0 12.5 25 A 12.5 12.5 0 0 0 25 12.5 A 12.5 12.5 0 0 0 12.5 0 z M 11.009766 5.9960938 L 11.009766 6.9960938 C 10.760813 6.9960938 10.422292 6.9986406 10.208984 7.0566406 C 10.102334 7.0856406 10.040174 7.1255312 10.021484 7.1445312 C 10.002793 7.1635313 9.9960938 7.1523281 9.9960938 7.2363281 L 9.9960938 10.988281 C 9.9960937 11.282581 9.878522 11.471738 9.7636719 11.648438 C 9.6488229 11.825137 9.5136828 11.984612 9.3867188 12.132812 C 9.2773837 12.260313 9.184645 12.368937 9.109375 12.460938 C 9.184551 12.539137 9.2707353 12.624934 9.3789062 12.740234 C 9.6491512 13.028134 10.011719 13.407881 10.011719 13.988281 L 10.011719 17.761719 C 10.011719 17.841719 10.013329 17.825562 10.042969 17.851562 C 10.072611 17.878162 10.160564 17.924125 10.283203 17.953125 C 10.52848 18.010125 10.824122 17.996094 11.009766 17.996094 L 11.009766 18.996094 C 10.953222 18.996094 10.499787 19.034741 10.056641 18.931641 C 9.8350676 18.880041 9.5942394 18.792616 9.3808594 18.603516 C 9.1674784 18.414416 9.0117188 18.099025 9.0117188 17.765625 L 9.0117188 13.990234 C 9.0117188 13.916234 8.8770576 13.669134 8.6503906 13.427734 C 8.5370566 13.306934 8.4159535 13.190359 8.3046875 13.068359 C 8.2490545 13.007359 8.1954681 12.946234 8.1425781 12.865234 C 8.0896881 12.784034 8.0175781 12.679822 8.0175781 12.482422 C 8.0175791 12.287522 8.0798331 12.197234 8.1269531 12.115234 C 8.1740751 12.033434 8.2234238 11.966437 8.2773438 11.898438 C 8.3851887 11.761538 8.5092681 11.623628 8.6269531 11.486328 C 8.7446371 11.349028 8.8551881 11.209116 8.9238281 11.103516 C 8.9924941 11.000216 8.9960938 10.919234 8.9960938 10.990234 L 8.9960938 7.2402344 C 8.9960938 6.9334344 9.120711 6.6366594 9.3125 6.4433594 C 9.50429 6.2500594 9.7322665 6.15175 9.9453125 6.09375 C 10.371405 5.97675 10.789969 5.9960938 11.009766 5.9960938 z M 14.984375 5.9960938 C 15.204173 5.9960938 15.622738 5.97725 16.048828 6.09375 C 16.261875 6.15205 16.489851 6.2481063 16.681641 6.4414062 C 16.873431 6.6347063 16.998047 6.9314812 16.998047 7.2382812 L 16.998047 10.990234 C 16.998047 11.002334 17.132478 11.278397 17.365234 11.529297 C 17.481612 11.654697 17.607015 11.776144 17.71875 11.902344 C 17.774618 11.965544 17.827076 12.030328 17.878906 12.111328 C 17.930729 12.192728 18 12.291434 18 12.490234 C 18 12.691634 17.924411 12.799859 17.869141 12.880859 C 17.813867 12.962059 17.758322 13.022031 17.701172 13.082031 C 17.586883 13.201231 17.462878 13.314141 17.347656 13.431641 C 17.11721 13.666641 16.982422 13.903234 16.982422 13.990234 L 16.982422 17.763672 C 16.982422 18.097072 16.826661 18.414416 16.613281 18.603516 C 16.3999 18.792616 16.159073 18.877688 15.9375 18.929688 C 15.494354 19.032688 15.040915 18.996094 14.984375 18.996094 L 14.984375 17.996094 C 15.17002 17.996094 15.465659 18.010125 15.710938 17.953125 C 15.833576 17.924625 15.921532 17.879516 15.951172 17.853516 C 15.980822 17.826516 15.982422 17.842719 15.982422 17.761719 L 15.982422 13.988281 C 15.982422 13.399481 16.35637 13.012316 16.634766 12.728516 C 16.736793 12.624416 16.813922 12.551516 16.888672 12.478516 C 16.814314 12.399316 16.734903 12.317031 16.632812 12.207031 C 16.364342 11.917631 15.998047 11.566481 15.998047 10.988281 L 15.998047 7.2363281 C 15.998047 7.1543281 15.991346 7.1635313 15.972656 7.1445312 C 15.953967 7.1255312 15.891809 7.0856406 15.785156 7.0566406 C 15.571848 6.9946406 15.233328 6.9960938 14.984375 6.9960938 L 14.984375 5.9960938 z "
                            transform="translate(-4.674 1032.052)"></path>
                    </g>
                </svg>
            </div>
            <div class="about-me-hobbies-icon">
                <svg class="about-me-hobbies-icon-style" enable-background="new 0 0 512.064 512.064" height="512"
                    viewBox="0 0 512.064 512.064" width="512" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <path
                            d="m184.735 229.384c-18.36-1.94-35.75-3.11-48.71-3.74-26.21-216.26-12.46-224.2-2.81-225.58 16.93-2.42 36.8 64.66 50.73 122.7-4.22 8.19-6.59 17.48-6.59 27.3 0 27.37 2.66 55.72 7.38 79.32z" />
                        <path
                            d="m400.665 235.234c-6.34 38.04-28.31 169.83-28.31 169.83v92c0 8.28-6.72 15-15 15h-180c-8.28 0-15-6.71-15-14.99 0-23.99.01-69.57.05-82.02-.05-.07-83.21-110.93-83.21-110.93-15.97-19.37-2.27-49.06 23.16-49.06 23.01 0 150 7.13 150 30 0 9.38-41.79 17.75-75.35 23.25-8.244 1.346-13.631 9.116-12.39 17.08 1.27 8.24 9.02 13.88 17.25 12.53 20.64-3.39 54.22-9.28 73.2-17.52 15.32-6.64 22.41-15.61 25.39-24.04 5.89 2.75 11.69 3.7 16.9 3.7 50.29 0 59.8-82.72 59.99-133.39 23.06-42.44 57.47-98.48 75.01-91.46 26.51 10.61-26.72 147.25-31.69 160.02z" />
                        <path
                            d="m297.355 270.064c16.569 0 30-45 30-105 0-16.569-13.431-30-30-30s-30 13.431-30 30c0 60 13.431 105 30 105z" />
                        <path
                            d="m215.825 231.244c13.258 1.669 28.186 4.034 41.25 7.1 6.3-22.98 10.28-55.63 10.28-88.28 0-16.57-13.43-30-30-30s-30 13.43-30 30c0 31.429 3.657 60.644 8.47 81.18z" />
                    </g>
                </svg>
            </div>
            <div class="about-me-quote">
                <div class="about-me-quote-txt1">const me = (() => {</div>
                <div class="about-me-quote-txt2">return 'Enjoy turning
                    creativity into beautiful
                    intuitive interface designs.';</div>
                <div class="about-me-quote-txt1">})();</div>
            </div>
            <div class="about-me-quote-icon">
                <svg class="about-me-quote-icon-style" enable-background="new 0 0 64 64" height="512"
                    viewBox="0 0 64 64" width="512" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <path d="m27 47h-16c-.552 0-1 .448-1 1s.448 1 1 1h2 12 2c.552 0 1-.448 1-1s-.448-1-1-1z" />
                        <path d="m25 51h-12c-.552 0-1 .448-1 1s.448 1 1 1h12c.552 0 1-.448 1-1s-.448-1-1-1z" />
                        <path
                            d="m29 43h-3v-2.602l.528-.282c5.226-2.793 8.472-8.202 8.472-14.116 0-7.977-5.951-14.793-13.844-15.855-.297-.042-.59.045-.815.243-.22.192-.341.459-.341.75v10.994l2.127-1.418 2.639 2.638c.3-1.373 1.508-2.352 2.928-2.352h.306c1.654 0 3 1.346 3 3s-1.346 3-3 3c-.604 0-1.202-.097-1.772-.279l-3.048 18.279h3.82 2c.552 0 1-.448 1-1s-.448-1-1-1z" />
                        <path
                            d="m18 45v-31c0-2.206-1.794-4-4-4-1.604 0-3.049.955-3.68 2.433l-.282.661-.717-.057c-.071-.006-.141-.015-.211-.024-.036-.005-.073-.012-.11-.013-2.206 0-4 1.794-4 4 0 .716.197 1.406.587 2.052l.553.917-.952.489c-1.35.692-2.188 2.05-2.188 3.542 0 2.206 1.794 4 4 4s4-1.794 4-4h2c0 3.309-2.691 6-6 6-.621 0-1.221-.095-1.785-.271-.136.408-.215.835-.215 1.271 0 2.206 1.794 4 4 4s4-1.794 4-4h2c0 2.918-2.094 5.353-4.858 5.888.347 1.328 1.278 2.937 1.69 3.555l.168.252v2.305h-3c-.552 0-1 .448-1 1s.448 1 1 1h2zm-11-19v-2c.552 0 1-.448 1-1h2c0 1.654-1.346 3-3 3zm4-9c-.552 0-1 .448-1 1h-2c0-1.654 1.346-3 3-3zm3 2v-2c1.654 0 3 1.346 3 3h-2c0-.552-.448-1-1-1z" />
                        <path d="m24.365 25.727c-.17-.135-.332-.279-.486-.434l-2.006-2.006-1.873 1.248v20.465h1.153z" />
                        <path d="m14 56c0 2.757 2.243 5 5 5s5-2.243 5-5v-1h-10z" />
                        <path
                            d="m29 24c0-.552-.448-1-1-1h-.306c-.491 0-.906.352-.986.835l-.146.882c.454.184.943.283 1.438.283.552 0 1-.448 1-1z" />
                        <path
                            d="m55 49c-3.309 0-6 2.691-6 6s2.691 6 6 6 6-2.691 6-6-2.691-6-6-6zm0 8c-1.105 0-2-.895-2-2s.895-2 2-2 2 .895 2 2-.895 2-2 2z" />
                        <path
                            d="m55 26c-3.309 0-6 2.691-6 6s2.691 6 6 6 6-2.691 6-6-2.691-6-6-6zm0 8c-1.105 0-2-.895-2-2s.895-2 2-2 2 .895 2 2-.895 2-2 2z" />
                        <path
                            d="m55 15c3.309 0 6-2.691 6-6s-2.691-6-6-6-6 2.691-6 6 2.691 6 6 6zm0-8c1.105 0 2 .895 2 2s-.895 2-2 2-2-.895-2-2 .895-2 2-2z" />
                        <path
                            d="m45.184 19h-1.184c-1.654 0-3 1.346-3 3v4c0 .552-.448 1-1 1h-3.031c-.037.675-.116 1.342-.227 2h3.258c1.654 0 3-1.346 3-3v-4c0-.552.448-1 1-1h1.184c.414 1.161 1.514 2 2.816 2 1.654 0 3-1.346 3-3s-1.346-3-3-3c-1.302 0-2.402.839-2.816 2z" />
                        <path
                            d="m51 44c0-1.654-1.346-3-3-3-1.302 0-2.402.839-2.816 2h-1.184c-.552 0-1-.448-1-1v-4c0-1.654-1.346-3-3-3h-5.419c-.402.695-.849 1.363-1.341 2h6.76c.552 0 1 .448 1 1v4c0 1.654 1.346 3 3 3h1.184c.414 1.161 1.514 2 2.816 2 1.654 0 3-1.346 3-3z" />
                        <path
                            d="m36.285 31c-.197.682-.434 1.35-.708 2h11.492c-.041-.328-.069-.661-.069-1s.028-.672.069-1z" />
                        <path
                            d="m40 54c-.552 0-1-.448-1-1v-11c0-1.654-1.346-3-3-3h-4.556c-.766.732-1.599 1.404-2.498 2h.054 7c.552 0 1 .448 1 1v11c0 1.654 1.346 3 3 3h7.069c-.041-.328-.069-.661-.069-1s.028-.672.069-1z" />
                        <path
                            d="m34 11c0-.552.448-1 1-1h12.069c-.041-.328-.069-.661-.069-1s.028-.672.069-1h-12.069c-1.654 0-3 1.346-3 3v2.594c.739.776 1.408 1.616 2 2.512z" />
                    </g>
                </svg>
            </div>
            <div class="about-me-planet-box about-me-planets">
                <div class="about-me-planet"></div>
            </div>
            <div class="about-me-planet-sub-box about-me-planets">
                <div class="about-me-planet-sub"></div>
            </div>
        </div>
    </div>
</div>