<div>
    <div id="intro-box" class="common-box">
        <div class="intro-circle-text intro-circle-text-1">Jaysinh Gohil</div>
        <div class="intro-circle-text intro-circle-text-2">UI Engineer</div>
        <div class="intro-circle intro-circle-1">
            <div class="intro-circle intro-circle-2">
                <div class="intro-circle intro-circle-3">
                    <div class="intro-circle intro-circle-4">
                        <div class="intro-circle intro-circle-5">
                            <div class="intro-circle intro-circle-6">
                                <div class="intro-circle intro-circle-7">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>