<div>
    <div id="scroll-down-box" class="common-box">
        <span class="arrow arrow1"></span>
        <span class="arrow arrow2"></span>
        <span class="arrow arrow3"></span>
    </div>
</div>