<div>
    <div id="skills-box" class="common-box">
        <div class="skills-ufo"></div>
        <div class="skills-sun-box">
            <div class="skills-sun"></div>
        </div>
        <div class="skills-txt-box">
            <div class="skills-txt skills-txt-anim"></div>
            <div class="skills-text">Skills</div>
        </div>
        <div class="skills-html-box">
            <div class="skills-html skills-html-anim"></div>
            <div class="skills-html-text">HTML</div>
        </div>
        <div class="skills-css-box">
            <div class="skills-css skills-css-anim"></div>
            <div class="skills-css-text">CSS</div>
        </div>
        <div class="skills-js-box">
            <div class="skills-js">
                <div class="skills-js-ring-anim"></div>
            </div>
            <div class="skills-js-text">Java Script</div>
        </div>
        <div class="skills-node-box">
            <div class="skills-node">
                <div class="skills-node-anim"></div>
            </div>
            <div class="skills-node-text">Node</div>
        </div>
        <div class="skills-node-box express">
            <div class="skills-node">
                <div class="skills-node-anim"></div>
            </div>
            <div class="skills-node-text">Expressjs</div>
        </div>
        <div class="skills-react-box">
            <div class="skills-react">
                <div class="skills-react-anim">
                    <div class=" react-anim react-anim-a"></div>
                    <div class=" react-anim react-anim-b"></div>
                    <div class=" react-anim react-anim-c"></div>
                    <div class="skills-react-redux">
                        <div class="skills-txt-redux">Redux</div>
                    </div>
                </div>
            </div>
            <div class="skills-react-text">React</div>
        </div>
        <div class="skills-ng-box">
            <div class="skills-ng">
                <div class="skills-ng-anim">
                </div>
            </div>
            <div class="skills-ng-text">Angular</div>
        </div>
    </div>
</div>