<div class="start common-box">
    <div class="start-music-text common-box">Music ?</div>
    <div id="yes" class="start-music-yes common-box">YES</div>
    <div id="no" class="start-music-no common-box">NO</div>
    <div class="start-music-smile common-box"></div>
</div>